:root {
    --bg-primary: #6895c9;
    --bg-secondary: #7d8ea1;
    --bg-tertiary: #28578d;
    --tile-size-fixed: 75px;
    --tile-size-dynamic: 6.5vw;
}

html, body {  
    padding: 0;
    margin: 0;
}

.custom-bg-primary {
    background-color: var(--bg-primary);
}

.custom-bg-secondary {
    background-color: var(--bg-secondary);
}

.custom-bg-tertiary {
    background-color: var(--bg-tertiary);
}

.chess-board, .jail-1, .jail-2 {
    flex-wrap: wrap;
}

.chess-box > p, .chess-jail-box > p {
    display: none;
    color:darkgoldenrod;
    font-size: 2.5rem;}

.chess-board {
    display: flex;
    padding: 0;
    margin: 0;
    height: min(
        calc(8*var(--tile-size-fixed)),
        calc(8*var(--tile-size-dynamic))
    );
    width: min(
        calc(8*var(--tile-size-fixed)),
        calc(8*var(--tile-size-dynamic))
    );
}

.jail-1, .jail-2 {
    display: flex;
    height: min(
        calc(2*var(--tile-size-fixed)),
        calc(2*var(--tile-size-dynamic))
    );
    width: min(
        var(--tile-size-fixed),
        var(--tile-size-dynamic)
    );
}

.chess-box, .chess-jail-box {
    height: min(
        var(--tile-size-fixed), 
        var(--tile-size-dynamic)
    );
    width: min(
        var(--tile-size-fixed), 
        var(--tile-size-dynamic)
    );
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,0) 10%, rgba(194, 194, 194, 0.35) 90%);
}

.white-box {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.black-box {
    background-color: rgb(67, 113, 167);
    border-radius: 5px;
}

.logo {
    width: 100%;
}

.piece-image {
    width: 100%;
}